@import '@/styles/variables.module.scss';

.header {
  .slider {
    position: relative;
    width: 100%;
    height: 50vh;
    margin: auto;
  }

  .navigation {
    background: $primary-color;
    color: $white-color;

    > .item_nav {
      float: left;
    }

    .logo {
      .image {
        position: relative;
        float: left;
        margin: 0 0 0 20px;
        width: 50px;
        height: 50px;
      }

      .slogan {
        float: left;
        height: 50px;
        line-height: 50px;
        margin: 0;
      }
    }
  }

  .menu {
    > div {
      &:first-child {
        margin: 0 0 0 10px;
      }

      &.active,
      &.hover {
        background: $dark-color;
      }

      &.item_menu {
        float: left;
        padding: 16px 20px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .form_dang_nhap_gio_hang {
    position: absolute;
    right: 20px;
    height: 50px;
    line-height: 50px;

    div {
      float: left;
    }

    .item_menu {
      font-weight: bold;
      cursor: pointer;
    }
  }

  .gio_hang {
    margin-left: 10px;

    &:hover {
      cursor: pointer;
    }

    .image {
      width: 50px;
      height: 50px;
    }
  }
}
