.footer {
  .footer_left {
    float: left;

    > div {
      margin: 10px;
    }
  }

  .footer_right {
    position: relative;
    float: right;
  }

  .img_chung_nhan {
    height: 60px;
    width: 200px;
  }
}
